.App {
  text-align: center;
  color: black;
  font-size: 16px;
}

.App-header {
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.App-button {
  margin-bottom: 16px;
  text-transform: uppercase;
  padding: 8px;
  color: rgb(77, 105, 231);
  background-color: white;
  font-weight: bold;
  border: 1px solid rgb(77, 105, 231);
  cursor: pointer;
}

.Button-container {
  display: flex;
  justify-content: flex-end;
}

.Container {
  width: 722px;
  margin-left: 200px;
  margin-top: 200px;
}

.Table-header {
  width: 220px;
  box-sizing: border-box;
  height: 44px;
}

.Row-time {
  padding-top: 8px;
  width: 60px;
  height: 100px;
  vertical-align: top;
  border-bottom: 0px;
  border-top: 0px;
  box-sizing: border-box;
}

tr:last-child .Row-time {
  border-bottom: 1px solid black;
}

th {
  text-transform: capitalize;
  font-weight: 400;
  padding: 12px;
}

th,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

.AvailableTime {
  position: absolute;
  background-color: rgb(201, 236, 201);
  width: 222px;
  border: 2px solid black;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
}
